.navbar-background {
    background-color: #DAE3E5;
}
.nav-title {
    color: #3EB489;
    font-weight: 600;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
.nav-ul li a {
    font-size: 20px;
    display: inline-block;
    color: #3EB489;
    padding: 10px 20px;
    text-decoration: none;
}
h1 {
    text-align: left;
    padding-top: 3rem;
    color: #F85D49;
    font-weight: 700;
    font-size: 70px;
}
.center {
    border-radius: 10%;
    padding-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.font-lobster {
    font-family: 'Lobster', cursive;
    font-size: 32px;
}
.font-raleway {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
hr.solid {
    border-top: 5px solid #DAE3E5;
  }
.text-center {
    text-align: center;
}
img {
    image-orientation: from-image;
}