body {
  background: #395AAA;
  background-image: radial-gradient(circle at top left,  rgb(0, 120, 185) 5%, rgb(128, 55, 155) 95%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
img {
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  align-self: center;
  max-width: 400px;
}
div {
  border-bottom: 10px;
  margin-top: 15px;
  border-top: 10px;
  min-width: fit-content;
  margin-left: 41.5%;
  margin-right: 41.5%;
  box-sizing: responsive;
  display: block;
  padding: 35px;
  text-align: center;
  box-shadow: none;
  border-radius: 5px;
  border: none;
  background: rgb(77, 106, 179);
  background: rgba(255, 255, 255, 0.1);
}
h2 {
  margin-top: -1px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.8);
}
.sign_in {
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px 15px;
  font-size: 14px;
  box-sizing: border-box;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  z-index: 5;
  min-width: 100px;
}
.ignore-css {
  all: unset
}
a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.iactuallyamabouttogiveup {
  text-align: center;
  display:block;
}
.whyispaddingsogoshdarnweird {
  padding : 0;
  margin : 0;
}